@import url(https://fonts.bunny.net/css?family=limelight:400);
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-brown-white: #f6f5f2;
  --clr-brown-light: #ebe1ca;
  --clr-brown-medium: #a38949;
  --clr-brown-dark: #2e2819;
}

html {
  background-color: var(--clr-brown-white);
}

body {
  font-size: 16px;
  font-family: limelight;
}
